.DS_Store
._.DS_Store
*.enc
*.sk
*.pk
*.rlk
*.gks
*.so
*.npy
src/data/preprocessing/*
src/data/processing/*
src/data/storage/*
src/data/he/*
src/vendor/*
*__pycache__*
*.ipynb_checkpoints*
dataset/
cxxnn/build
.vscode
*.npy
*.pyc
*.code
*.input.params
*.out.format
*.ct.input
*.ct.output
*.pt.input
*.pt.output
*.ckks.pk
*.ckks.rlk
*.ckks.sk
*.ckks.params
ppdl_demo/data/
research/adapted_nn/model/*
boar/bin/*
HEFactory.egg-info/*
dist/*
build/*
*.cpp